beautifulsoup4==4.12.3
blinker==1.7.0
cbor==1.0.0
certifi==2024.2.2
charset-normalizer==3.3.2
chest==0.2.3
click==8.1.7
cwl-eval==1.0.12
Deprecated==1.2.14
dill==0.3.8
Flask==3.0.3
HeapDict==1.0.1
idna==3.7
ijson==3.2.3
inscriptis==2.5.0
ir-datasets==0.5.6
ir_measures==0.3.3
itsdangerous==2.2.0
Jinja2==3.1.3
joblib==1.4.0
lxml==5.2.1
lz4==4.3.3
MarkupSafe==2.1.5
matchpy==0.5.5
more-itertools==10.2.0
multiset==2.1.1
nltk==3.8.1
nptyping==1.4.4
numpy==1.26.4
packaging==24.0
pandas==2.2.2
patsy==0.5.6
pyautocorpus==0.1.12
pyjnius==1.6.1
python-dateutil==2.9.0.post0
python-terrier==0.10.0
pytrec-eval-terrier==0.5.6
pytz==2024.1
PyYAML==6.0.1
regex==2024.4.16
requests==2.31.0
scikit-learn==1.4.2
scipy==1.13.0
six==1.16.0
soupsieve==2.5
statsmodels==0.14.2
threadpoolctl==3.4.0
tqdm==4.66.2
trec-car-tools==2.6
typish==1.9.3
tzdata==2024.1
unlzw3==0.2.2
urllib3==2.2.1
warc3-wet==0.2.3
warc3-wet-clueweb09==0.2.5
Werkzeug==3.0.2
wget==3.2
wrapt==1.16.0
zlib-state==0.1.6
